<% provide(:title, "NLU Metadata") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>Natural Language Understanding</h1>
    <h3 class="center">Metadata</h3>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= form_for(:natural, url: nl_metadata_path) do |f| %>
    
          <%= f.label "Input format" %>
          <%= f.select(:formation) do %>
            <%= content_tag(:option, "Text", value: 1) %>
            <%= content_tag(:option, "URL", value: 2) %>
            <%= content_tag(:option, "HTML", value: 3) %>
          <% end %>
            
          <%= f.label "Input" %>
          <%= f.text_field :url, class: 'form-control' %>
          
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
