<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #1d2951;">
    <div class="container">
        <%= link_to "Watson@SBS", root_path,id:"logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Watson","#"%></li>
                <li><%= link_to "Alzheimer", minicog_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Log in", "#" %></li>
              </ul>
        </nav>
    </div>
</header>
