<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #1d2951;">
    <div class="container">
        <%= link_to "Watson@SBS", root_path,id:"logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>

                <% if logged_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Watson <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Conversation", '#' %></li>
                      <li><%= link_to "Discovery", '#' %></li>
                      <li><%= link_to "Natural Language Conversation", '#' %></li>
                      <li><%= link_to "Speech to text", '#' %></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Alzheimer <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Minicog Test", minicog_path %></li>
                    </ul>
                  </li>
                <% end %>

                <li><%= link_to "Help", help_path %></li>

                <% if logged_in? %>
                  <li><%= link_to "Users", "#" %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", '#' %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Log out", logout_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                  
                <% else %>
                  <li><%= link_to "Log in", login_path %></li>
                <% end %>
              </ul>
        </nav>
    </div>
</header>
